/* LOGIN PAGE START */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     font-family: "Roboto", sans-serif !important;
  background-image: url(../images/sl_0210121_40570_43.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }

  .login-container {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
  }

  .login-container h2 {
    text-align: center;
    color: gold;
    margin-bottom: 30px;
  }

  .login-container label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }

  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 330px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 8px;
    background: #0b0b0b;
    color: white;
  }

  .login-container input[type="submit"] {
    width: 100px;
    padding: 12px;
    border: none;
    margin-left: 120px;
    border-radius: 8px;
    background: gold;
    color: #0b0b0b;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .login-container input[type="submit"]:hover {
    background: #ffcc00;
  }
  textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #222;
  color: white;
  resize: none;
  height: 90px;
}
.error {
  color: #ff4d5a;
  font-size: 12px;
  display: block;
  margin-top: 3px;
}

  /* LOGIN PAGE END */